[Desktop Entry]
Type=Application
Name=PowerTunerCLI
GenericName=Tuning Utility
Comment=PowerTuner CLI Client
Exec=PowerTunerCLI
Icon=powerTunerCLI
Categories=Utility
