[Desktop Entry]
Type=Application
Name=PowerTunerDaemon
GenericName=Tuning Utility
Comment=PowerTuner Daemon
Exec=PowerTunerDaemon
Icon=powerTunerDaemon
Categories=Utility
