[Desktop Entry]
Type=Application
Name=PowerTunerConsole
Comment="PowerTuner Console Client"
Exec=PowerTunerConsole
Icon=powerTunerConsole
Categories=Utility
