[Desktop Entry]
Type=Application
Name=PowerTunerConsole
GenericName=Tuning Utility
Comment=PowerTuner Console Client
Exec=PowerTunerConsole
Icon=powerTunerConsole
Categories=Utility
